<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>Blog Template for Bootstrap</title>

    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/blog.css') }}" rel="stylesheet">
    {% endblock %}
 
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="{{ path('homepage') }} ">Home</a>
          <a class="blog-nav-item" href="{{ path('app_article_list') }} ">Articles</a>
          <a class="blog-nav-item" href="{{ path('app_default_about') }} ">About</a>
          {% if app.user %}
            Hi <a class="blog-nav-item" href="{{ path('app_profile_index', {'username' : app.user.username}) }} ">{{  app.user.username }}</a>
            <a class="blog-nav-item" href="{{ path('logout') }} ">Logout</a>
          {% else %}
            <a class="blog-nav-item" href="{{ path('login') }} ">Login</a>
          {% endif %}
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        {%  block header %}
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
        {% endblock %}
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
        {% block main %}{% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Time</h4>
            <p id="ajaxdate"></p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="http://www.aiconoa.com">Aiconoa web site</a></li>
              <li><a href="http://www.github.com/aiconoa">Aiconoa on gitHub</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/ajaxdate.js') }}"></script>
    {% endblock %}
  </body>
</html>